/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Overlock&family=Rokkitt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rokkitt, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100 vw;
  height: 100vh;
}
/* background-image: url(../img/bg.png); */

form {
  background: #fff;
  padding: 7% 30%;
  margin-top: 23%;
  position: relative;
  border-radius: 12px;
  margin: 25% auto;
  border: 2px red dashed;
  width: 50%;
  height: 50%;
}
.border {
  border: solid 2px black;
  padding: 0;
  position: absolute;
  left: 250px;
}
h1 {
  font-size: 1.7rem;
  color: #474646;
  text-align: center;
}
*/ form input {
  border: none;
  padding: 5px;
  height: 40px;
  float: right;
}
*/ .input {
  border: none;
  padding: 5px;
}
/* Bordered form */
/* form {
  border: 3px solid #f1f1f1;
} */

/* input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */
