/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Overlock, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100 vw;
  height: 100vh;
}
form {
  margin: 25% auto;
  border: 2px red dashed;
  width: 50%;
  height: 50%;
}
