/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Overlock&family=Rokkitt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 2px burlywood solid;
}
/* .box {
  float: left;
  border: solid 2px teal;
  width: 40%;
  padding: 50px;
} */
body {
  font-family: Rokkitt, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100 vw;
  height: 100vh;
}
/* background-image: url(../img/bg.png); */

form {
  background: #fff;
  /* padding: 7% 30%; */
  /* margin-top: 23%; */
  /* position: relative; */
  /* border-radius: 12px; */
  margin: 25% auto;
  border: 2px red dashed;
  width: 85%;
  /* height: 50%; */
}
.border {
  border: solid 2px black;
  padding: 0;
  position: absolute;
  left: 250px;
}
*/ h1 {
  font-size: 1.7rem;
  color: #474646;
  text-align: center;
}
form input {
  border: none;
  padding: 0px 100px 0 0;
  height: 40px;
  float: none;
}
/* .input {
  border: none;
  padding: 5px;
} */
/* Bordered form */
/* form {
  border: 3px solid #f1f1f1;
} */

/* input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

.box1 {
  margin: 8vh auto;
  width: 75vw;
  height: 75vh;
  border: 1px gray solid;
  position: relative;
}
.box2 {
  width: 45%;
  height: 70%;
  background: white;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.box3 {
  width: 45%;
  height: 70%;
  background: white;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.box4 {
  width: 80%;
  height: 20%;
  background: rgb(87, 181, 212);
  position: absolute;
  top: 80%;
  right: 81%;
  transform: translate(-50%, -50%);
}
.box5 {
  width: 80%;
  height: 20%;
  background: red;
  position: absolute;
  top: 50%;
  right: 81%;
  transform: translate(-50%, -50%);
}
.box6 {
  width: 80%;
  height: 20%;
  background: rgb(10, 103, 160);
  position: absolute;
  top: 20%;
  right: 81%;
  transform: translate(-50%, -50%);
}
p {
  font-size: 30px;
  width: 100%;
  height: 50%;
  margin-top: 6%;
  text-align: center;
  /* border: 3px solid palevioletred; */
}
.gicon {
  /* border: solid 2px yellow; */
  position: absolute;
  width: 30px;
  top: 25%;
  left: 5%;
}
