@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
  display: flex;
  /* border: 2px yellowgreen solid; */
}
.container {
  display: flex;
  flex-direction: column;
  border: 2px grey solid;
  margin: 10% auto;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 350px;
}
.bigbox {
  display: flex;
  border: 2px grey solid;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
  width: 645px;
  height: 300px;
}
.Social-container {
  display: flex;
  border: 2px grey solid;
  background-color: lavender;
  margin: 1% auto;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 180px;
}
/* Form */
.form-container {
  display: flex;
  border: 2px rgb(139, 29, 29) solid;
  /* background-color: indianred; */
  margin: 1% auto;
  border-top: none;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 180px;
}
h1 {
  padding: 0px;
  margin-bottom: 77%;
  font-family: PT Sans, sans-serif;
}
/* select */
.select {
  border-right: 2px solid rgba(164, 159, 159, 0.6);
  /* display: block; */
  width: 4px;
  height: 220px;
  position: relative;
  top: 5px;
  right: -9px;
}
.select_line {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin: 30%;
  top: 40%;
  right: -23px;
  background-color: white;
  border: 2px solid rgba(164, 159, 159, 0.6);
}
.select_text {
  padding: 12px 9px;
}
.footer {
  display: flex;
  margin: 0 auto;
  /* flex-direction: column; */
  border-top: none;
  border: 2px gray solid;
  justify-content: center;
  background-color: rgba(142, 202, 240, 0.274);
  width: 650px;
  height: 50px;
  text-align: center;
  align-content: space-between;
  font-family: PT Sans, sans-serif;
  color: #1877f2;
  font-weight: 700;
  font-size: large;
}
.footer_text {
  padding: 0 1%;
  margin: 2% 0;
}
.footer_line {
  border-right: 2px solid rgba(164, 159, 159, 0.6);
}
