@import url("https://fonts.googleapis.com/css2?family=Overlock&family=Rokkitt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --border: 2px solid rgba(165, 160, 160, 0.6);
}
body {
  font-family: Rokkitt, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: var(--border);
  background: chartreuse;
  display: flex;
  margin: 10% auto;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 350px;
}
.social {
  display: flex;
  background-color: coral;
  flex-direction: column;

  /* align-self: stretch; */
  justify-content: space-around;
  /* border: var(--border); */
  width: 250px;
  /* height: 55px; */
}
.form-container {
  background-color: darkcyan;
  margin: 2%;
  display: flex;
  border: var(--border);
  width: 50%;
}
.social_button {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;

  width: 88%;
  /* height: 70%; */
}
/* .select {
} */

input[type="checkbox"] {
  vertical-align: middle;
}
li {
  list-style-type: none;
}
div button {
  margin: 2%;
  border-radius: 1%;
  height: 55px;
  /* box-sizing: border-box; */
  line-height: 50px;
  color: white;
  font-size: large;
  font-weight: bold;
}
.fb {
  background-color: #4f7dbd;
  text-align: center;
}
.google {
  background-color: #e24b2e;
}
.twitter {
  background-color: #64cdf1;
}
.login {
  background-color: #64b1ff;
  width: 100px;
  height: 40px;
  font-size: larger;
  border-radius: 6%;
  text-align: center;
  line-height: 30px;
}
